$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

.about-page {

	.section-2 {
		background: #fff8f8;	
		padding: 3.6rem 0;	
	}

	.left-column {
		width: 400px;
		height: 400px;
		float: left;

		.img-wrap {
			width: 100%;
			height: 400px;
			max-height: 400px;
			
			img {
				width: 100%;
			}

		}

	}

	.right-column {
		width: calc(100% - 400px - 60px);
		float: right;
		height: 400px;
		display: flex;
		align-items: center;
	}

	.description-block {
		color: $page-color;
		vertical-align: middle;
		display: inline-block;

		.description-text {
			text-align: left;
			width: auto;
			margin: 0 auto 0 0;
		}

	}

	.name {
		font-size: 24px;
		font-weight: 600;
	}

	.position {
		color: #727272;
		font-size: 16px;
		font-weight: 400;
		margin: 15px auto 15px 0;
	}

	.description-text {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5em;
		text-align: center;
		width: 524px;
		margin: 60px auto 0;
	}

	.section-3 {
		background: #fff;	
		padding: 3.6rem 0;
	}

	.content {
		margin-right: -15px;
		margin-left: -15px;
		padding-bottom: 0;
	}

	.about-list {
		text-align: center;

		.img-wrap {
			width: 100%;
			height: 160px;
			max-height: 160px;
			overflow: hidden;
			border-radius: 2px;

			img {
				width: 100%;
				border-radius: 2px;
			}

		}

		.name {
			font-size: 16px;
			font-weight: 400;	
			margin-top: 10px;		
		}

		.position {
			font-size: 14px;
			margin: 0 auto;
		}

	}

	.about-item {
		color: $page-color;
		display: inline-block;
		width: 180px;
		margin: 0 15px 30px 15px;
		text-align: center;
	}

	.section-4 {
		background: #fff8f8;	
		padding: 3.6rem 0 1.6rem 0;	
	}

	.press-list {
		margin-top: 60px;
		text-align: justify;	

		&:after {
			content:"";
			display: inline-block;
			width: 100%;
		}
		
		.img-wrap {
			width: 100%;
			height: 200px;
			overflow: hidden;
			border-radius: 2px;

			img {
				width: 100%;
			}

		}

	}

	.press-item {
		width: 260px;
		display: inline-block;
		margin-bottom: 0;			
	}

	.press-text-block {
		margin-top: 15px;

		.all-news-link {
			background: #fff8f8;
			font-size: 16px;
		}

	}

	.news-text {
		border-bottom: 15px solid #fff8f8;
		color: $page-color;
		font-weight: 400;
		font-size: 16px;
		height: 110px;

		span {
			background: #fff8f8;
			width: 28px;
		}

	}	

}