$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

.cart.is-emersione {
	display: block;
}

.cart {
	background: #fff;
	position: absolute;
	top: 50px;
	right: 0;
	width: 250px;
	color: $page-color;
	border-radius: 5px;
	font-size: 14px;
	z-index: 10;
	display: none;
	-webkit-box-shadow: 0px 3px 31px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 3px 31px 0px rgba(204,204,204,1);
	box-shadow: 0px 3px 31px 0px rgba(204,204,204,1);
	padding: 15px 11px;

	&:after {
		content: "";
		width: 0;
		height: 0;
		border-left: 13px solid transparent;
		border-right: 13px solid transparent;
		border-bottom: 18px solid #fff;

		position: absolute;
		top: -15px;
		right: 10px;
	}

	.cart-head {
		text-align: center;
		font-size: 14px;
	}

	.cart-list {
		margin-top: 13px;
	}

	.cart-item {
		padding: 11px 0;
		border-bottom: 1px solid $border-color;
		text-align: center;
	}

	.cart-img-wrap {
		width: 40px;
		height: 40px;
		border-radius: 3px;
		float: left;

		img {
			width: 100%;
			border-radius: 3px;
		}

	}

	.cart-text-wrap {
		float: right;
		font-size: 14px;		
		width: calc(100% - 50px);
		text-align: left;
	}

	.cart-price-block {
		margin-top: 5px;
	}

	.cart-name {
		color: $page-color;
	}

	.cart-price {
		float: left;
	}

	.delete-link {
		float: right;
		text-decoration: underline;
		cursor: pointer;
		color: #c82d2d;

		&:hover {
			text-decoration: none;
		}
	}

	.is-close {
		display: none;
	}

	.cart-footer {
		text-align: center;
	}

	.cart-button {
		font-weight: 600;
		letter-spacing: 1px;
		color: #7e74d3;
		text-align: center;
		display: inline-block;
		padding: 10px 0 0 0;
	}

	.icon-cart-close {
		display: none;
	}

}

