$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

body {
	font-family: 'ApercuPro';
	font-weight: 400;
	background: #fff;
	padding-right: 0 !important;
	overflow-x: hidden; 
	min-width: 320px;
		
}

.col-left {
	padding-left: 0;
}

.col-right {
	padding-right: 0;
}

.col-center {
	padding-left: 0;
	padding-right: 0;
}

.icon {
	vertical-align: top;
	display: inline-block;
}

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}

}

.title {
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	line-height: 1.2em;
}

.content {
	padding: 3.6rem 0;
}

.content-title {
	font-size: 16px;
	font-weight: 700;
	color: #727272;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;

	&:after {
		content: "";
		display: block;
		margin: 37px auto 0;
		width: 73px;
		height: 2px;
		background: #727272;
	}

}



