$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

.create-page {

  //tabs

	ul.tabs {
		margin: 0 auto;
		padding: 0;	
		list-style: none;	
		width: 100%;
		border-radius: 3px;
		text-align: center;
	}

	ul.tabs li {
		display: inline-block;		
		margin: 0;
		cursor: pointer;
		width: 190px;
		height: 44px;
		line-height: 44px;	
		background-color: #fff;
		border: 1px solid #8474d6;
		text-align: center;
		color: #8474d6;
		overflow: hidden;
		position: relative;

		&:first-child {
			border-radius: 3px 0 0 3px;
		}

		&:last-child {
			border-radius: 0 3px 3px 0;
			margin-left: -6px;
		}

	}

	.tab_last { border-right: 1px solid #333; }

	/*ul.tabs li:hover {
		background-color: #8474d6;
		color: #fff;
	}*/

	ul.tabs li.active {
		background-color: #8474d6;
		color: #fff;		
		//display: block;
	}

	.tab_container {	
		clear: both;	
		width: 100%;
		background: #fff;
		
	}

	.tab_content {	
		display: none;
	}

	.tab_drawer_heading {
		display: none;
	}
		//tabs end  

	.create-button {
		width: 380px;
		display: block;
		margin: 30px auto;
		text-align: center;
	}

	.create-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.create-item {		
		border: 1px solid $border-color;
		border-radius: 3px;
		

		.img-wrap {
			border-radius: 3px;
			width: 100%;
			height: 140px;
		}

	}

	.info-title {
		text-transform: uppercase;
		color: #2e4288;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 1px;
		text-align: center;
		margin-bottom: 10px;
	}

	//form

	.create-form {
		margin-top: 20px;
	}

	.create-input {
		width: 100%;
		border-radius: 3px;
		border: 1px solid $border-color;
		padding: 0 18px;
		height: 44px;
		font-weight: 400;
		font-size: 15px;
		color: #bbb;
	}


	::-webkit-input-placeholder {color:#bbb;}
	::-moz-placeholder          {color:#bbb;}/* Firefox 19+ */
	:-moz-placeholder           {color:#bbb;}/* Firefox 18- */
	:-ms-input-placeholder      {color:#bbb;}

	.nice-select {
		width: 100%;
		border-radius: 3px;
		border: 1px solid $border-color;
		height: 44px;
		line-height: 44px;
		margin: 10px auto 15px 0;

		&:after {
			border-bottom: 1px solid #bbb;
			border-right: 1px solid #bbb;
			content: '';
			display: block; 
			height: 6px;
			margin-top: -4px;
			pointer-events: none;
			position: absolute; 
			right: 12px; 
			top: 50%; 
			transform-origin: 66% 66%;
			transform: rotate(45deg);
			transition: all 0.15s ease-in-out;
			width: 6px;
		}

			&.open {
			
				&:after {
					transform: rotate(-135deg);
				}

			}

			.list {
				width: 100%;
				border-radius: 3px;

				li {
					font-size: 15px;
					color: #bbb;
					font-weight: 400;
				}

			}

			.current {
				font-size: 15px;
				color: #bbb;
				font-weight: 400;
			}

		}

		.create-item-title {
			font-size: 15px;
			color: #8a8a8a;
			text-align: center;
			text-transform: uppercase;
			font-weight: 600;	
			margin-bottom: 15px;		
		}

//checkbox

.checkbox-blcok {
	border-bottom: 1px solid $border-color;
	text-align: justify;
	
	&:after {
		content: "";
    display: inline-block;
    width: 100%;		
	}

}

.checkbox-wrap {
	display: inline-block;
	//width: 33.33%;

	input {
		display: inline-block;
		margin: 0;
		margin-right: 5px;
	}

	label {
		display: inline-block;
		font-size: 14px;
		color: #8a8a8a;
		font-weight: 400;
	}

}	

	.label-checkbox {
		position: relative;
		//line-height: 135%;	
		cursor: pointer;
	}

	.checkbox {
		position: relative;	
		cursor: pointer;	
		
		&:before {
			transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
			transform: rotate(-45deg) scale(0, 0);    
			content: "";    
			position: absolute;
			left: 3px;
			bottom: 3px;
			z-index: 1;  
			width: 9px;
			height: 8px;    
			border: 2px solid $border-color;; 
     border-top-style: none;
  	 border-right-style: none;
  }
  
		&:checked {

			&:before {
				transform: rotate(-45deg) scale(1, 1);
				} 
		}
  
		&:after {
			content: "";			
			position: absolute;			
			left: 0;			
			width: 15px;
			height: 15px;			
			background: #fff;			
			border: 1px solid $border-color;			
			cursor: pointer;
		}

	}

	.create-price-block {		
		text-align: center;	
		padding-top: 15px;	

		span {		
			font-weight: 400;
			display: inline-block;
			font-size: 20px;
			color: #000;			
		}

	}

	.price-label {
		display: inline-block;
		font-size: 14px;
		color: #8a8a8a;
		vertical-align: top;
		line-height: 20px;
		margin-top: 2px;
	}

	//end form

	.button-wrap {
		margin-top: 50px;
	}

	.catalog-button {
		width: 230px;
	}

	//tab_content-2

	.select-wrap {

		.nice-select {
			width: 380px;
			margin: 30px auto;
			float: none;
		}
	
	}

		.tab_content-2 {

			.create-item {
				margin-bottom: 30px;

				.img-wrap{
					cursor: pointer;
				}

			}

		}	
 
}