$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

.main-page {	

	//section-2

	.section-2 {
		background: #fff8f8;

		.content {
		padding-bottom: 1.2rem;
		margin: 0 auto;
		}

	}	

	.content-list {		
		justify-content: center;		
		margin-top: 40px;
	}

	.content-item {     
    	height: 245px;
    	display: flex;
    	align-items: center;
    	justify-content: center;		

		a {
			display: inline-block;
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
			vertical-align: middle;
		}

		&:hover {
			transform: scale(1.1);
			transition: all .5s;
		}

		&:not(:hover) {
			transition: all .5s;
		}	

	}	

	.bg-1 {
		background: url(../images/bg-1.jpg) no-repeat;		
		background-size: cover;
	}
	.bg-2 {
		background: url(../images/bg-2.jpg) no-repeat;		
		background-size: cover;
	}
	.bg-3 {
		background: url(../images/bg-3.jpg) no-repeat;		
		background-size: cover;
	}

	.bg-4 {
		background: url(../images/bg-4.jpg) no-repeat;		
		background-size: cover;
	}

	.bg-5 {
		background: url(../images/bg-5.jpg) no-repeat;		
		background-size: cover;
	}

	.bg-6 {
		background: url(../images/bg-6.jpg) no-repeat;		
		background-size: cover;
	}



	//end-section-2

	//section-3

	.section-3 {
		background: #fff;

	}

	.content-wrap {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		flex-wrap: wrap;
		margin-top: 35px;

		position: relative;
	}

	.content-img-wrap {
		margin: 5px;
		overflow: hidden;

		img {
			 width: 100%;
		    height: 100%;
		    -o-object-fit: cover;
		    object-fit: cover;
		}

	}

	.img-wrap-1 {
		//max-width: 300px;
		width: calc(30.85% - 10px);
		height: 400px;
	}

	.img-wrap-2 {
		//max-width: 200px;
		width: calc(20.90% - 10px);		
		height: calc(200px - 5px);
	}

	.img-wrap-3 {
		//max-width: 340px;
		width: calc(33.73% - 10px);	
		height: calc(200px - 5px);
	}

	.img-wrap-4 {
		//max-width: 135px;
		width: calc(14.43% - 10px);
		height: calc(200px - 5px);
	}	

	.img-wrap-5 {
		//max-width: 135px;
		width: calc(39.80% - 10px);
		height: calc(200px - 5px);

		position: absolute;
		left: 30.85%;
		top: 50%;
	}

	.img-wrap-6 {
		//max-width: 135px;
		width: calc(29.35% - 10px);
		height: calc(200px - 5px);

		position: absolute;
		right: 0;
		top: 50%;
	}

	//end section-3

	

	//section-5

	.section-5 {
		background: #fff;

		.title-button {
			margin-top: 50px;
			width: 200px;
		}
	}

	.main-form {
		text-align: center;
		margin-top: 55px;

		::-webkit-input-placeholder {color: #919191; font-size: 16px; font-weight: 400;}
		::-moz-placeholder          {color: #919191; font-size: 16px; font-weight: 400;}/* Firefox 19+ */
		:-moz-placeholder           {color: #919191; font-size: 16px; font-weight: 400;}/* Firefox 18- */
		:-ms-input-placeholder      {color: #919191; font-size: 16px; font-weight: 400;}

		input {
			display: block;
			text-align: center;
			margin: 0 auto;
		}
	}

	.mail-input {
		width: 240px;
		border: none;
		border-bottom: 1px solid #c4c4c4;
		padding-bottom: 12px;
		color: $page-color;
	}

	//end section-5

}	



