$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

.main-page {

	.slider-wrap {
		width: 100%;
		height: 320px;
		overflow: hidden;
		position: relative;
	}

	.slider-center-block {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		text-align: center;
	}

	.title-button {
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		border: 1px solid #fff;
		border-radius: 3px;
		background: transparent;
		display: inline-block;
		padding: 12px 21px;
		margin-top: 35px;
	}

	//slider

	.head-slider {
		height: 100%;
	}

	.slick-list {
		height: 100%;
	}

	.slick-track {
		height: 100%;
	}

	.head-slider-item {
		height: 100%;

		img {
			width: 100%;
			height: 100%;
		}

	}

	.slick-dots {
		text-align: center;
		bottom: 15px;		

		li {
			display: inline-block;
			width: 13px;
			height: 13px;
			background: #b5b5b3;
			border-radius: 50%;
			list-style: none;			

			button {

				&:before {
					content: "";
				}
				
			}

		}

		.slick-active {
			background: #fff;
		}

	}

	//section-2

	.section-2 {
		background: #fff8f8;
	}

	.content {
		//max-width: 1000px;
		margin: 0 auto;
	}

	.content-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 40px;
	}

	.content-item {
		width: calc(33.333333% - 30px);
    max-width: 350px;
   	margin: 0 15px 45px;
    height: 245px;

		display: flex;
		align-items: center;
		justify-content: center;

		a {
			display: inline-block;
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
			vertical-align: middle;
		}

	}	

	.bg-1 {
		background: url(../images/bg-1.jpg) no-repeat;		
		background-size: cover;
	}
	.bg-2 {
		background: url(../images/bg-2.jpg) no-repeat;		
		background-size: cover;
	}
	.bg-3 {
		background: url(../images/bg-3.jpg) no-repeat;		
		background-size: cover;
	}

	.bg-4 {
		background: url(../images/bg-4.jpg) no-repeat;		
		background-size: cover;
	}

	.bg-5 {
		background: url(../images/bg-5.jpg) no-repeat;		
		background-size: cover;
	}

	.bg-6 {
		background: url(../images/bg-6.jpg) no-repeat;		
		background-size: cover;
	}

	//end-section-2

}

