$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

@media only screen and (max-width: 540px) {

	//MAIN-PAGE

	.main-page {

		.slider-center-block {
			width: 100%;
		}

		//section-2

 		.content-item {
			width: 100%;
			margin: 0 auto 5px auto;

			height: 120px;	    
		}

		.content-item.bg-2{
			order: -1;
		}

		.content {
			padding-left: 5px;
			padding-right: 5px;
		}

		//end section-2	

		//section-4

		.slider-content {
			margin-top: 50px;

			.slick-prev {
			background: #ffcece;
			width: 50px;
			height: 50px;
			border-radius: 50%;

			bottom: -60px;
			left: 15px;
			top: auto;
			margin-top: 0;
			z-index: 10;

			&:after {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				background: transparent;
				border-top: 2px solid #acacac;
				border-left: 2px solid #acacac;
				transform: rotate(-45deg);

				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -4px;
				margin-top: -4px;				
			}

		}

		.slick-next {
			background: #ffcece;
			width: 50px;
			height: 50px;
			border-radius: 50%;

			bottom: -60px;
			right: 15px;
			top: auto;
			margin-top: 0;
			z-index: 10;

			&:after {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				background: transparent;
				border-top: 2px solid #acacac;
				border-left: 2px solid #acacac;
				transform: rotate(135deg);

				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -4px;
				margin-top: -4px;				
			}

		}

			.slick-dots {
				bottom: -50px;
			}

		}

		.feedback-item {			

		}

  	.feedback-left-block {
	  	text-align: center;
	  	display: block;
	  	margin: 0 auto;
	  	width: 235px;

	  	.img-wrap {
	  		float: left;
	  		width: 100px;
	  		height: 100px;
	  	}

	  	.user-name {
				display: inline-block;
				margin: 0;
				margin-bottom: 15px;
				font-size: 18px;
				text-align: left;
			}

  	}

  	.feedback-right-block {
  		width: 100%;
  		margin-left: 0px;

			.user-name {
				display: none;
			}

  	}

  	.feedback-text {
  		background: transparent;
  		border-bottom: 13px solid transparent;
    	border-top: 13px solid transparent;
    	max-width: 100%;
    	text-align: center;
  	}

  	.feedback-link {
			margin-top: 0;
			margin-left: 20px;
  	}

  //end section-4

  //section-5

	  .block-title {
	  	width: 300px;
	  	margin: 0 auto;
	  }

	}	

	//end section-5


	//END MAIN-PAGE

	//FOOTER

.footer {
	padding: 20px 0;

	.footer-title {
		display: none;
	}

	#tab1, #tab2, #tab3 {
		width: 100%;
		float: none;
	}

	.tab_content {

		.footer-net-list {
			display: none;
		}

		.footer-button {
			display: none;
		}

	}
	
	.tab_drawer_heading {		
		color: #fff;
		font-size: 16px;
		border-top: 1px solid #4f4949;
		margin: 0;
		padding: 17px 15px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		position: relative;

		&:after {
			content: "";
	    display: block;
	    width: 8px;
	    height: 8px;
	    background: transparent;
	    border-top: 2px solid #b4adad;;
	    border-left: 2px solid #b4adad;;
	    -webkit-transform: rotate(225deg);
	    transform: rotate(225deg);
	    position: absolute;
	    top: 50%;
	    right: 15px;	    
	    margin-top: -4px;
		}

	}

	.d_active {		
		color: #fff;

		&:after {
			content: "";
	    display: block;
	    width: 8px;
	    height: 8px;
	    background: transparent;
	    border-top: 2px solid #b4adad;;
	    border-left: 2px solid #b4adad;;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    position: absolute;
	    top: 50%;
	    right: 15px;	    
	    margin-top: -4px;
		}

	}

	.tab_content-list {
		padding: 0 15px 15px 15px;
	}

	.footer-mobile-block {
		display: block;
		margin-top: 40px;
		width: 170px;
		margin: 0 auto;
		text-align: center;

		.footer-net-list {			
			margin: 20px auto 0;
		}

	}

}

//END FOOTER

//CATALOG-PAGE



	.catalog-page {

	//catalog

		.catalog-item {
			width: 100%;
		}

	//end catalog

	}		

//END CATALOG-PAGE		

 
}

