$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

@media only screen and (max-width: 767px) {

  //HEADER

  .header {

  	.header-top-block {
  		padding: 12px 0;
  		border-bottom: 1px solid #ffe3e3;
  	}

  	//nav

  	.mobile-menu {
		cursor: pointer;
		width: 50px;
		height: 20px;

		position: absolute;
		top: 50%;
		transform: translateY(-200%);
		left: 15px;

		.icon-mobile-menu {
			display: inline-block;
		}

		.icon-menu-close {
			display: none;
		}	

	}

	.is-open {

		.icon-mobile-menu {
			display: none;
		}

		.icon-menu-close {
			display: inline-block;
		}

	}	

	.phone {
		display: none;
	}
		
		/* mobile nav  */

		.showing {
			background: #fff;
			display: block;
			//height: 100%;							
			font-size: 18px;
			position: absolute;			
			left: 0;			
			width: 100%;

			transition: height 0.4s;
			padding: 0 15px;
			overflow-y: scroll;
			 -webkit-overflow-scrolling: touch;
			z-index: 1000;
		}

		/* end */

		.nav-bar {
			width:100%;
			display: block;

			ul {
				height: auto;
				display: none;

				li {
					box-sizing: border-box;
					width: 100%;
					text-align: left;					
					padding: 10px 0 10px 0;

					&:first-child {
						padding-top: 25px;
					}

					a {
						font-size: 18px;
						line-height: normal;
					}

				}

			}	

			ul.showing {
				display: block;
			}

		}		

  	//nav end

  }

  //CART

  .cart {
  	width: 100%;
  	border-radius: 0;
  	border-bottom: 1px solid #ffe3e3;
  	top: 49px;
  	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

  	&:after {
  		content: "";
  		display: none;
  	}

  	.cart-item {
  		position: relative;

			&:last-child {
				border-bottom: none;
			}

  	}

  	.delete-link {
  		display: none;
  	}

  	.icon-cart-close {
  		position: absolute;
  		right: 0;
  		top: 50%;
  		transform: translateY(-50%);
  		display: block;
  	}

  	.cart-button {
  		background: #8474d6;
  		color: #fff;
  		border-radius: 3px;
			font-weight: 400;
			letter-spacing: normal;
			max-width: 290px;
			display: block;
			margin: 10px auto 0;
			padding: 11px 0;
  	}

  } 

  //END HEADER

  //MAIN-PAGE

	.main-page {

		.slider-center-block {
			
		}

		.slider-big-img {
			display: none;
 		}

		.slider-min-img {
			display: block;
 		}

 		//section-2

 		.content-item {
			width: calc(50% - 30px);
			margin: 0 15px 30px;	    
		}

		//end section-2

		//section-3

	.responsive-slider {
		width: 320px;
		height: 300px;
		margin: 35px auto 0;

		.slick-dots {
			bottom: 30px;

			li {
				width: 8px;
				height: 8px;
			}

		}

		.slick-prev {
			background: #fff;
			width: 50px;
			height: 50px;
			border-radius: 50%;

			bottom: 15px;
			left: 15px;
			top: auto;
			margin-top: 0;
			z-index: 10;

			&:after {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				background: transparent;
				border-top: 2px solid #acacac;
				border-left: 2px solid #acacac;
				transform: rotate(-45deg);

				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -4px;
				margin-top: -4px;				
			}

		}

		.slick-next {
			background: #fff;
			width: 50px;
			height: 50px;
			border-radius: 50%;

			bottom: 15px;
			right: 15px;
			top: auto;
			margin-top: 0;
			z-index: 10;

			&:after {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				background: transparent;
				border-top: 2px solid #acacac;
				border-left: 2px solid #acacac;
				transform: rotate(135deg);

				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -4px;
				margin-top: -4px;				
			}

		}

	}	

	.content-img-wrap {
		margin: 0;
	}

	.img-wrap-1 {
		width: 100%;
		height: 100%;
	}

	.img-wrap-2 {
		width: 100%;
		height: 100%;
	}

	.img-wrap-3 {
		width: 100%;
		height: 100%;
	}

	.img-wrap-4 {
		width: 100%;
		height: 100%;
	}	

	.img-wrap-5 {
		width: 100%;
		height: 100%;

		position: static;		
	}

	.img-wrap-6 {
		width: 100%;
		height: 100%;

		position: static;		
	}

	//end section-3

	}	

	//END MAIN-PAGE
  
}