$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

@media only screen and (max-width: 767px) {

	.content-item {
		width: calc(50% - 30px);		    
	}

	 .slider-wrap {

    .slider-big-img {
      display: none;
    }

    .slider-min-img {
      display: block;
    }

  }


  //HEADER

  .header {

  	.header-top-block {
  		padding: 12px 0;
  		border-bottom: 1px solid #ffe3e3;
  	}

  	.header-bottom-block {
  		border-bottom: none;
  	}

  	//nav

  	.mobile-menu {
		cursor: pointer;
		width: 50px;
		height: 20px;

		position: absolute;
		top: 50%;
		transform: translateY(-200%);
		left: 15px;

		.icon-mobile-menu {
			display: inline-block;
		}

		.icon-menu-close {
			display: none;
		}	

	}

	.is-open {

		.icon-mobile-menu {
			display: none;
		}

		.icon-menu-close {
			display: inline-block;
		}

	}	

	.phone {
		display: none;
	}
		
		/* mobile nav  */

		.showing {
			background: #fff;
			display: block;
			//height: 100%;							
			font-size: 18px;
			position: absolute;			
			left: 0;			
			width: 100%;

			transition: height 0.4s;
			padding: 0 15px;
			overflow-y: scroll;
			 -webkit-overflow-scrolling: touch;
			z-index: 1000;


		}

		/* end */

		.nav-bar {
			width:100%;
			display: block;

			ul {
				height: 320px;
				display: none;

				li {
					box-sizing: border-box;
					width: 100%;
					text-align: left;
					height: auto;					
					//padding: 10px 0 10px 0;
					padding: 3px 0 3px 0;

					&:first-child {
						padding-top: 25px;
					}

					a {
						font-size: 18px;
						line-height: normal;
					}

				}

			}	

			ul.showing {
				display: block;
			}

		}		

  	//nav end

  }

  //CART

  .cart {
  	width: 100%;
  	border-radius: 0;
  	border-bottom: 1px solid #ffe3e3;
  	top: 49px;
  	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	

  	&:after {
  		content: "";
  		display: none;
  	}

  	.cart-item {
  		position: relative;

			&:last-child {
				border-bottom: none;
			}

  	}

  	.cart-body {

  	}

  	.delete-link {
  		display: none;
  	}

  	.icon-cart-close {
  		position: absolute;
  		right: 0;
  		top: 50%;
  		transform: translateY(-50%);
  		display: block;
  	}

  	.cart-button {
  		background: #8474d6;
  		color: #fff;
  		border-radius: 3px;
			font-weight: 400;
			letter-spacing: normal;
			max-width: 290px;
			display: block;
			margin: 10px auto 0;
			padding: 11px 0;
  	}

  	.scrollbar {
  		float: none;
  	}

  } 

  //END HEADER

  //MAIN-PAGE

	.main-page {		

 		//section-2

 		.content-item {			
			margin: 0 15px 30px;	    
		}

		//end section-2

		//section-3

	.responsive-slider {
		width: 320px;
		height: 300px;
		margin: 35px auto 0;

		.slick-dots {
			bottom: 30px;

			li {
				width: 8px;
				height: 8px;
			}

		}

		.slick-prev {
			background: #fff;
			width: 50px;
			height: 50px;
			border-radius: 50%;

			bottom: 15px;
			left: 15px;
			top: auto;
			margin-top: 0;
			z-index: 10;

			&:after {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				background: transparent;
				border-top: 2px solid #acacac;
				border-left: 2px solid #acacac;
				transform: rotate(-45deg);

				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -4px;
				margin-top: -4px;				
			}

		}

		.slick-next {
			background: #fff;
			width: 50px;
			height: 50px;
			border-radius: 50%;

			bottom: 15px;
			right: 15px;
			top: auto;
			margin-top: 0;
			z-index: 10;

			&:after {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				background: transparent;
				border-top: 2px solid #acacac;
				border-left: 2px solid #acacac;
				transform: rotate(135deg);

				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -4px;
				margin-top: -4px;				
			}

		}

	}	

	.content-img-wrap {
		margin: 0;
	}

	.img-wrap-1 {
		width: 100%;
		height: 100%;
	}

	.img-wrap-2 {
		width: 100%;
		height: 100%;
	}

	.img-wrap-3 {
		width: 100%;
		height: 100%;
	}

	.img-wrap-4 {
		width: 100%;
		height: 100%;
	}	

	.img-wrap-5 {
		width: 100%;
		height: 100%;

		position: static;		
	}

	.img-wrap-6 {
		width: 100%;
		height: 100%;

		position: static;		
	}

	//end section-3

	 //section-4

  .feedback-item {    
    text-align: center;

    &:nth-child(2n) {
      text-align: center;
    }

  }  

  //end section-4

	}

	//END MAIN-PAGE

	//FOOTER

	.footer {
		padding: 45px 15px;

		#tab1 {
	 		width: 30%;
	 		float: left; 		
 		}

 		#tab2 {
	 		width: 30%;
	 		float: left; 		
 		}

 		#tab3 {
	 		width: 30%;
	 		float: right;
 		}

	}	

	//END FOOTER

	//CATALOG-PAGE

  .catalog-page {

  	.catalog-menu-wrap {
  		border-bottom: none;
  		border-top: none;
  		height: auto;
  	}

  	.catalog-nav {  	

	  	.nice-select {
	  		display: block;
	    	position: relative;
	    	border-radius: 0;
	    	border: none;
	    	border-bottom: 1px solid #ffe3e3;
	    	width: 100%;
	    	text-align: center;	
	    	height: auto;		

				&.open {	    	

	 		 		span {

	 		 			&:after {
		      		transform: rotate(-135deg);
		      		margin-top: 2px;
	 		 			}

	 		 		}

	 		 		.list {
	 		 			display: block;

	 		 		}

	    	}

	    	span {
	    		display: inline-block;
	    		text-align: center;
	    		color: #8675d0;
	    		font-weight: 600;
	    		font-size: 18px;

	    		&:after {
						content: "";
						display: inline-block;
						margin-left: 10px;
						width: 8px;
						height: 8px;
						background: transparent;
						vertical-align: middle;
						
						border-bottom: 2px solid #8675d0;
						border-right: 2px solid #8675d0;
						transform: rotate(45deg);

						//position: absolute;
						top: 50%;
						right: 15px;					
						margin-top: -4px;				
					}

	    	}

	    	.list {
	    		width: 100%;
	    		position: static;
	    		border-radius: 0;
	    		margin-top: 1px;
	    		border: none;
	    		box-shadow: none;
	    		display: none; 
	    		opacity: 1;   		 

	    		li {
						color: #adadad;
						font-size: 18px;
						font-weight: 600;
						text-align: center;

						&:first-child {
	        		display: none;
	        	}

						&:hover {
							background: transparent;
							color: #304384;
						}

						&.selected {
							background: transparent;
						}

	    		}

	    	}
	      
	  	}

  	}	

  	.catalog-menu {

      select {
        display: inline-block;    

      }      

	    .catalog-menu-list {
	    	display: none;
	    }
 	 
		} 

		//left-column

		.left-column {
			margin-top: 0;
			width: 100%;
			float: none;
		}

		 .page-menu {

		 	.page-menu-list {
		 		display: none;
		 	}
      
       .nice-select {
        display: inline-block;
      }

      select {
        display: inline-block;

      }

    }

		//end left-column 

		//right-column 

		.right-column {
			margin-top: 0;
			float: none;	
			width: 100%;
			//max-width: 100%;
		}

		.filter-wrap {

		}

		.filter-mobile-menu {

			&.open {
				
				.filter-name {
					
					 &:after {
	    			transform: rotate(-135deg);
	      		margin-top: 2px;
	    		}

				}

			}

		}

		.filter-name {
			display: inline-block;
	    text-align: center;
	    color: #8675d0;
	    font-weight: 600;
	    font-size: 18px;
	    border-bottom: 1px solid #ffe3e3;
	    text-align: center;
	    background: #fff;
	    width: 100%;
	    height: 42px;
	    padding: 9px 0;
	    cursor: pointer;

	    &:after {
	    		content: "";
					display: inline-block;
					margin-left: 10px;
					width: 8px;
					height: 8px;
					background: transparent;
					vertical-align: middle;
					
					border-bottom: 2px solid #8675d0;
					border-right: 2px solid #8675d0;
					transform: rotate(45deg);

					//position: absolute;
					top: 50%;
					right: 15px;					
					margin-top: -4px;				
	    }

		}

		.filter-list {			
	  		display: none;
	  		background: #fff;
	  		padding-top: 20px;

	  		.filter-item {
	  			display: block;
	  			text-align: center;
	  			height: auto;

	  		}

	    &.is-show {
			display: block;
    	}

    	.label {
    		display: block;    		
    	}

    	input {
    		width: 115px;
    	}

    	.nice-select {
    		width: 290px;
    	}

    	.filter-item-sm {

    		.nice-select {
    		width: 290px;
    		}

    	} 

    	.color-button {
				width: 290px;
				color: #fff;
				border: none;				
			}
   		

		}

		//end right-column

		//catalog

		.catalog-block {
			margin-top: 30px;
			margin-left: 0;
			margin-right: 0;
		}

		//end catalog
  
	}

//END CATALOG-PAGE

//PRODUCT-PAGE

.product-page {


	.page-content {
		padding: 0 15px;
	}	

		.left-column {
			margin: 0 auto 0 0;
			float: none;
			width: 260px;			
		}

		.right-column {
			width: 100%;
			float: none;
		}

		.product-slider-for {
			height: 222px;
		}

		.product-slider-nav {
			width: 100%;

		.img-wrap {			
			height: 60px;
			}

		}

		.slider-product-content,
		.slider-product-content-1 {
			width: 100%; 
		}

		.next-button,
    	.prev-button,
    	.next-button-bot,
    	.prev-button-bot {
      	display: none;
    	}

	}	

//END PRODUCT-PAGE

//INSTASHOP-PAGE

.instashop-page {
	
	.content {		
		margin-left: 0;
		margin-right: 0;
	}

}

//END INSTASHOP-PAGE

//ABOUT-PAGE 

  .about-page {

  	.content {
  		margin-right: 0;
  		margin-left: 0;
  		padding: 3.6rem  15px 0 15px;
  	}

  	.left-column {
  		width: calc(50% - 30px);
  		height: auto;
  		padding-left: 15px;

  		.img-wrap {
				width: 100%;
				height: auto;
  		}

  	}

  	.right-column {
  		width: calc(50% - 30px);
  		height: auto;
  		padding-right: 15px;
  	}

    .press-list {

      .img-wrap {
        height: 160px;        
      }

    }
    
    .press-item {
      width: calc(33.3333% - 35px);
    }

    .description-text {
			width: 100%;			
    }    

  }

  //END ABOUT-PAGE 

  //CONTACTS-PAGE

  .contacts-page {
		padding: 0 15px;

		.contacts-form {
			width: 100%;
		}

		.left-column {
			margin-right: 15px;
			width: calc(50% - 15px);
		}		

  }

  //END CONTACTS-PAGE

  //ORDER-PAGE

  .order-page {

  	.form-bottom-block {
  		padding: 0 15px;
  	}

  	  .cart {
		  	width: 100%;		  	  	

		  	&:after {
		  		content: "";
		  		display: none;
		  	}

		  	.cart-item {
		  		position: relative;

					&:last-child {
						border-bottom: none;
					}

		  	}

		  	.delete-link {
		  		display: none;
		  	}

		  	.icon-cart-close {
		  		position: absolute;
		  		right: 0;
		  		top: 50%;
		  		transform: translateY(-50%);
		  		display: block;
		  	}

	  	.cart-button {
	  		background: #8474d6;
	  		color: #fff;
	  		border-radius: 3px;
				font-weight: 400;
				letter-spacing: normal;
				max-width: 290px;
				display: block;
				margin: 10px auto 0;
				padding: 11px 0;
	  	}

  	} 

	}

  //END-ORDER-PAGE

  //ONE-NEWS-PAGE

  .one-news-page {

  	.content {
  		padding-left: 15px;
  		padding-right: 15px;
  	}

    .img-wrap {
    	width: 300px;
    	height: 240px;
      margin-left: 30px;  
    }

  }

  //END ONE-NEWS-PAGE 


}