$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

@media only screen and (max-width: 540px) {

	//MAIN-PAGE

	.main-page {

		.slider-center-block {
			width: 100%;
		}

		//section-2

 		.content-item {
			width: 100%;
			margin: 0 auto 5px auto;

			height: 120px;	    
		}

		.content-item.bg-2{
			order: -1;
		}

		.content {
			padding-left: 5px;
			padding-right: 5px;
		}

		//end section-2	

	}	

	//END MAIN-PAGE

 
}