$icon-font-path: '../fonts/';

@media only screen and (min-width: 1025px) {

   //HEADER

  .header {  	

  	.search {
  		width: 230px;
  	}

  	.net-block {
  		margin-left: 24px;
  	}  	
	
		.navigation {

			ul {

				li {

					a {
						font-size: 14px;
					}

				}

			}

		}

  }

  //END HEADER
  
}