$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

@media only screen and (min-width: 768px) {  

  .main {
   min-height: 100%;
   padding-top: 129px;
   padding-bottom: 270px;
  }

	.hidden-sm {
		display: none;
	}

   .content-item {
    width: calc(50% - 30px);       
  }

  .slider-wrap {

    .slider-big-img {
      display: block;
    }

    .slider-min-img {
      display: none;
    }

  }   

  //HEADER

  .header {
    margin-bottom: -132px;

  	.header-left-column {
  		margin-left: -15px;
  	}

  	.search {
  		width: auto;
  	}

  	.net-block {
  		margin-left: 0;
  	}

  	.header-right-column {
  		margin-right: -15px;
  	}
	
		.navigation {

			ul {

				li {

					a {
						font-size: 14px;
					}

				}

			}

		}

  }

  //END HEADER

  //MAIN-PAGE

  .main-page {   

    //section-2

    .content-item {     
      margin: 0 15px 30px;   
    }

    //end section-2

    //section-4

  .feedback-item {    
    text-align: center;

    &:nth-child(2n) {
      text-align: center;
    }

  }  

  //end section-4

  } 

//END MAIN-PAGE  

//FOOTER

  .footer {
    padding: 45px 0;
    margin-top: -270px;

    #tab1 {
      width: 20%;
      float: left;    
    }

    #tab2 {
      width: 20%;
      float: left;    
    }

    #tab3 {
      width: 18%;
      float: right;
    }

  } 

  //END FOOTER 

  //CATALOG-PAGE

  .catalog-page {

    .catalog-menu {

      .nice-select {
        display: none;
      }

      select {
        display: none;
      }

    }

    .catalog-menu-item {

      a {
        font-size: 14px;
      }

    }

    .page-menu {

       .nice-select {
        display: none;
      }

      select {
        display: none;
      }
      
    }

    //right-column

      .right-column {             
      
      }

      .filter-list {         
        text-align: left;

        .hidden-sm {
          display: none;
        }

      }   

      //end right-column
  }  

  //END CATALOG-PAGE

  //PRODUCT-PAGE 

  .product-page {

    .slider-product-content,
    .slider-product-content-1 {
      width: 100%; 
    }

    .next-button,
    .prev-button,
    .next-button-bot,
    .prev-button-bot {
      display: none;
    }

  }

  //END PRODUCT-PAGE

  //ABOUT-PAGE 

  .about-page {

    .press-list {

      .img-wrap {
        height: 160px;        
      }

    }
    
    .press-item {
      width: 28%;
    }    

  }

  //END ABOUT-PAGE 

  //ONE-NEWS-PAGE

  .one-news-page {

    .img-wrap {
      margin-left: 40px;  
    }

  }

  //END ONE-NEWS-PAGE 
  
}