$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

@media only screen and (min-width: 992px) {	

.hidden-md {
		display: none;
	}

.content-item {
		width: calc(33.333333% - 30px);		    
}	

	 


	//MAIN-PAGE 

  .main-page {

  
  }

	//END MAIN-PAGE	 

	//PRODUCT-PAGE 

  .product-page {

  	.slider-product-content,
  	.slider-product-content-1 {
			width: 810px; 
		}

		.next-button,
		.prev-button,
		.next-button-bot,
		.prev-button-bot {
			display: block;
		}

  }

  //END PRODUCT-PAGE 

  //ABOUT-PAGE 

  .about-page {

    .press-list {
    	margin-left: -15px;
    	margin-right: -15px;
    	

      .img-wrap {
        height: 200px;        
      }

    }
    
    .press-item {
      width: calc(33.333% - 30px);
      margin: 0;
      margin-bottom: 30px;
      padding: 0 15px;
    }

    .press-item-wrap {
		width: 260px;
		margin: 0 auto;
    }    

  }

  //END ABOUT-PAGE 

  //END ONE-NEWS-PAGE 

  //CREATE-PAGE

  .create-page {

     .create-wrap {
      margin-left: -32px;
      margin-right: -32px;
    }

    .create-item {
      padding: 30px;
      width: calc(33.33% - 64px);
      margin: 0 32px;
    }

    .checkbox-wrap {
      display: inline-block;
    }

    //popup

    .content-item {
      width: calc(33.333333% - 30px);
    }

    //end popup


  }

 // END CREATE-PAGE  
  
  
}