$icon-font-path: '../fonts/';

@media only screen and (min-width: 768px) {

  body {
    overflow-x: hidden; 
  }

	.hidden-sm {
		display: none;
	}

  //HEADER

  .header {

  	.header-left-column {
  		margin-left: -15px;
  	}

  	.search {
  		width: auto;
  	}

  	.net-block {
  		margin-left: 0;
  	}

  	.header-right-column {
  		margin-right: -15px;
  	}
	
		.navigation {

			ul {

				li {

					a {
						font-size: 14px;
					}

				}

			}

		}

  }

  //END HEADER

  //MAIN-PAGE

  .main-page {

    .slider-big-img {
      display: block;
    }

    .slider-min-img {
      display: none;
    }

    //section-2

    .content-item {
      width: calc(50% - 30px);
      margin: 0 15px 30px;   
    }

    //end section-2

  } 

//END MAIN-PAGE 
  
  
}