$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

@media only screen and (min-width: 1025px) {

  .modal-open .header {
    padding-right: 17px;
}	
	

   //HEADER

  .header {  	

  	.search {
  		width: 230px;
  	}

  	.net-block {
  		margin-left: 24px;
  	}  	
	
		.navigation {

			ul {

				li {

					a {
						font-size: 16px;
					}

				}

			}

		}

  }

  //END HEADER

  	//feedback-block

	.feedback-block {

		.content {
				padding: 3.6rem 0 6.6rem;
			}

				.feedback-item {    
				text-align: left;

			&:nth-child(2n) {
				text-align: right;
			}

		}  

	}	 

  //feedback-block	

  //ABOUT

  .about-page {

   .content {
      //margin-right: -15px;
      //margin-left: -15px;
    }

  }

  //END ABOUT

  //CATALOG-PAGE

  .catalog-page {

    .catalog-menu-item {

      a {
        font-size: 16px;
      }

    }

   .filter-list {         
      text-align: justify;
    }   

  }  

  //END CATALOG-PAGE 

  //ONE-NEWS-PAGE

  .one-news-page {

    .img-wrap {
      margin-left: 95px;  
    }

  }

  //END ONE-NEWS-PAGE 
  
}