$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

.news-page {

	.section-2 {
		background: #fff;
	}

	.content-list {
		margin-top: 0;
		list-style: none;
		justify-content: flex-start;

		.img-wrap {
			width: 100%;
			max-height: 200px;
			height: 200px;
			overflow: hidden;
			border-radius: 2px;

			img {
				width: 100%;
				border-radius: 2px;
			}

		}

	}

	.content-item {

		.all-news-link {
			background: #fff;
		}
		
	}

	.news-title {
		margin-bottom: 10px;
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.news-text-block {
		margin-top: 15px;
		font-size: 16px;
		font-weight: 600;
		color: $black-color;

	}

	.news-text {
		border-bottom: 15px solid #fff;

		span {
			background: #fff;
		}

	}	

}	



