$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

.one-news-page {

 .breadcrumb-list { 
 	margin-bottom: 0;

 	li {

 		a {
			color: #384485;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}

			&:before {
				content: "<";
				display: inline-block;
				margin-right: 5px;
			}

 		}

 	}

 }

 .news-block {
		margin-top: 32px;
		//display: flex;
 }

 .block-title {
 	text-align: left;
 	margin-bottom: 30px;
 }

 .text-block {
 	float: left;
 }

 .text {
 	font-size: 15px;
 	font-weight: 400;
 	color: $page-color;
 	margin-bottom: 20px;
 	line-height: 1.5em; 	

 	&:last-child {
 		margin-bottom: 0;
 	}

 }

 .img-wrap {
 	width: 400px;
 	height: 240px;
 	float: right; 
 	margin-top: 20px;
 	margin-bottom: 20px;
 }
  
}