$icon-font-path: '../fonts/';

@media only screen and (min-width: 541px) {

	//FOOTER

 .footer {
 
 	.tab_content {
 		display: block !important;

 		.footer-net-list {
 			display:block;
 		}

 		.footer-button {
			display: inline-block;
		}

 	}

 	.tab_drawer_heading {
 		display: none;
 	}
 	

 	.footer-mobile-block {
		display: none;
	}

 }

 //END FOOTER

 
//PRODUCT-PAGE

 .product-page {

	//tabs

	 .responsive-tabs {
	 	height: 40px;

	 	 dt {
	    float: left;
	    border-top: none;
	    border: none;
	   }

	   .active + dd {
	    display: none;
	    height: 140px;
	   }

  	}  

	.responsive-tabs-placeholder {
	  clear: both;
	  display: block;
	  padding: 15px 20px;
	  border: 1px solid $border-color;
	  border-top: none;
	  
		width: 100%;
		background: #fff;
		overflow: auto;
		height: 150px;
		overflow: hidden;
		//overflow-y: scroll;	

  }
  
  //end-tabs

 }

 //END PRODUCT-PAGE

  
}


