$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

.product-page {

	.page-content {
		margin: 30px 0;
	}

	.breadcrumb-list {
		margin-bottom: 30px;
		position: relative;
		z-index: 10;

		 li {
		 		float: left;

			 	a {
					font-size: 16px;
					font-weight: 600;
					color: #9c9c9c;
			 	}

			 	&:after {
			 		content: ">";
			 		font-size: 16px;
					font-weight: 600;
					color: #9c9c9c;
					margin: 0 10px;
					display: inline-block;
			 	}

			 	&:last-child {

			 		&:after {
			 			content: "";
			 		}

			 	}

		 }

	}

	.left-column {
		width: 360px;
		float: left;
	}

	.right-column {
		width: calc(100% - 360px - 25px);
		float: right;
		color: $black-color;
	}

	.product-slider-for {
		width: 100%;
		height: 322px;
		overflow: hidden;
		border-radius: 5px;
		margin-bottom: 15px !important;

		.img-wrap {
			width: 100%;
			height: 100%;
			
			img {
				width: 100%;
				height: 100%;
				border-radius: 5px;
			}

		}	

	}

	.product-slider-nav {	

		.slick-list {
			padding: 0 !important;
		}		

		.img-wrap {
			width: 80px !important;
			height: 80px;
			overflow: hidden;
			border-radius: 5px;			
			margin-right: 15px;			


			img {
				width: 100%;
				height: 100%;
				border-radius: 5px;
			}

		}

		.slick-slide {
			opacity: 0.5;
		}	

		.slick-current {
			opacity: 1;
		}

	}	


	
//right-column 

	.art {
		font-size: 14px;
		font-weight: 400;
		color: #707070;
	}

	.product-title {
		margin-top: 10px;		
		font-size: 20px;
		font-weight: 400;
	}

	.info-block {
		margin: 23px 0;
	}

	.info-title {
		text-transform: uppercase;
		color: #2e4288;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 3px;
	}

	.info-text {
		font-size: 15px;
		padding: 5px 0;
	}

	.filter-title {
		text-align: center;
		margin-bottom: 10px;
		color: #5f698d;
	}

	.product-filter-item {
		width: 125px;
		display: inline-block;
		text-align: center;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

		.nice-select {
			border-radius: 0;
			border: 1px solid $border-color;
			width: 100%;

			&:after {
				border-bottom: 1px solid #959595;
		    border-right: 1px solid #959595;
		    content: '';
		    display: block;
		    height: 6px;
		    margin-top: -4px;
		    pointer-events: none;
		    position: absolute;
		    right: 12px;
		    top: 50%;
		    -webkit-transform-origin: 66% 66%;
		    transform-origin: 66% 66%;
		    -webkit-transform: rotate(45deg);
		    transform: rotate(45deg);
		    -webkit-transition: all 0.15s ease-in-out;
		    transition: all 0.15s ease-in-out;
		    width: 6px;
			}

			&.open {

				&:after {
	      transform: rotate(-135deg);
			}

		}

		span {
			font-size: 15px;
			font-weight: 700;
			color: #426995;
		}

		.list {
			width: 100%;
			border-radius: 0;			

			.option {
				font-size: 15px;
				font-weight: 700;
				color: #426995;
				min-height: 35px;
				line-height: 35px;

					a {
						font-size: 15px;
						font-weight: 700;
						color: #426995;

						&:hover,
						&:focus,
						&:active {
							text-decoration: none;
							color: #426995;
						}

					}
				
				}

			}

		}	

	}

	.counter-list {
		margin-top: 20px;
	}

	.counter-item {
		display: inline-block;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

	}

	.counter-wrap {
		width: 130px;
		border: 1px solid $border-color;
		height: 42px;
		text-align: center;
		vertical-align: middle;
		font-size: 13px;
		margin-top: 10px;

		a {
			display: inline-block;
			cursor: pointer;
			width: 40px;
			height: 100%;
			color: #426995;
			padding: 11px 0;
			font-weight: 700;

			&:hover {
				text-decoration: none;
				color: #426995;
			}

		}

	}

	.left-btn {
		border-right: 1px solid $border-color;
		float: left;
	}
	.right-btn {
		border-left: 1px solid $border-color;
		float: right;
	}

	.counter {
		display: inline-block;
		height: 100%;
		color: #426995;
		padding: 11px 0;
		font-weight: 700;
	}

	.price-value {
		font-size: 20px;
		font-weight: 400;
		color: $page-color;
		height: 42px;
		padding: 12px 0;
	}

	.catalog-button {
		width: 228px;
		margin-top: 24px;
	}

	.icon-button {
		margin-right: 16px;		
	}

	.description-tab-block {
		margin-top: 25px;
	}

	//tabs	

	.responsive-tabs {
		border: 1px solid $border-color;
		

		  dt {
	    //padding: 0.5em;
	    //border-top: 1px solid #ccc;
	    cursor: pointer;
	    padding: 10px 15px;

	    text-transform: uppercase;
		  color: #8a8a8a;
		  font-size: 13px;
		  font-weight: 700;
		  letter-spacing: 1px;
		  border-top: 1px solid $border-color;

		  &:first-child {    		
    		border-top: 0;   
		  }

		  &.active {
	    background-color: transparent;
			text-transform: uppercase;
		  color: #2e4288;
		  font-size: 13px;
		  font-weight: 700;
		  letter-spacing: 1px;
		  border-bottom: 1px solid $border-color;
    	}

    }    

    dd {
   	 display: none;    
    }

    .active + dd {
	    display: block;	   
	    padding: 15px 10px;
   	}
  }  

	.responsive-tabs-placeholder {
  	display: none;

  	 p {
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5em;
			color: $black-color;		
		}

  } 

	//tabs end	

	//section-1

	.section-1 {
		background: #fff8f8;
		padding: 3.6rem 0;
	}

	.section-wrap {
		position: relative;
		//z-index: 20;

		.slick-dots {
			
			li {
				width: 13px;
				height: 13px;
				border-radius: 50%;
				background: #b5b5b3;
				border-radius: 50%;
				list-style: none;		

				button {

					&:before {
						content: "";
					}
				
				}

			}

			.slick-active {
				background: $page-color;
			}

		}

	}

	.slider-product-content, .slider-product-content-1{
		width: 810px;
		margin: 55px auto 0;
		//position: relative;		
	}

	.next-button, .next-button-bot {
			border-bottom: 2px solid #a4a4a4;
	    border-right: 2px solid #a4a4a4;	   
	    width: 12px;
	    height: 12px;
	    margin-top: -6px;	    
	    position: absolute;
	    right: 0;
	    top: 50%;
	    -webkit-transform-origin: 66% 66%;
	    transform-origin: 66% 66%;
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    -webkit-transition: all 0.15s ease-in-out;
	    transition: all 0.15s ease-in-out;	    
		}

		.prev-button, .prev-button-bot {
			border-bottom: 2px solid #a4a4a4;
	    border-right: 2px solid #a4a4a4;	    
	    width: 12px;
	    height: 12px;
	    margin-top: -6px;	   
	    position: absolute;
	    left: 0;
	    top: 50%;
	    -webkit-transform-origin: 66% 66%;
	    transform-origin: 66% 66%;
	    -webkit-transform: rotate(135deg);
	    transform: rotate(135deg);
	    -webkit-transition: all 0.15s ease-in-out;
	    transition: all 0.15s ease-in-out;
		}


	.catalog-item {
		margin-bottom: 0;
		width: calc(33.333% - 30px);
		margin: 0 15px;

	.catalog-button {
		width: 100%;
		margin-top: 0;
		}

	}	

	//end section-1

	//section-2

	.section-2 {
		background: #fff;
		padding: 3.6rem 0;
	}

	//end section-2

}

