$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;


.scrollbar {
	float: left;
	height: 100%;
	
	background: #fff;
	overflow-y: scroll;
	//margin-bottom: 25px;
}

.force-overflow {
	height: 100%;
	padding-right: 10px;
}




/*
 *  STYLE 3
 */

.style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(249,199,199,0.3);
	background-color: #fff;
}

.style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #fff;
}

.style-3::-webkit-scrollbar-thumb
{
	background-color: #fae1e1;
}


.style-3::-moz-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(249,199,199,0.3);
	background-color: #fff;
}

.style-3::-moz-scrollbar
{
	width: 6px;
	background-color: #fff;
}

.style-3::-moz-scrollbar-thumb
{
	background-color: #fae1e1;
}

